<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
   <!-- Section: Links  -->
  <section class="container mt-10 mb-10 me-10 mb-10">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-10">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="d-flex flex-column justify-content-center text-center text-uppercase fw-bold mb-4">
            <i class="d-flex flex-column justify-content-center text-center text-uppercase fw-bold mb-4 fas fa-gem me-3"></i>Riders MotoGP
          </h6>
          <p class="text-center">
            Created with a lot of love and dedication by three web developer students at Ironhack. We hope you enjoy it
          </p>
          <img src="/images/logopng.png" alt="logo" align-items="center" width="280px" height="280px">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="container text-center md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="d-flexflex-column text-center align-items-start text-uppercase fw-bold mb-4">
            <i class="col text-uppercase fw-bold mb-4 fas fa-gem me-3"></i>Shop
          </h6>
           <p>
            <a class="img-back w-100 text-reset" href="https://vr46.com/en-eu" target="_blank" alt="img-back"><img  src="/images/links/vr46.png" alt="VR46" align-items="center" width="120px" height="80px"></a>
          </p>
         <p>
            <a class="img-back w-100 text-reset" href="https://www.motocard.com/" target="_blank" alt="img-back"><img  src="/images/links/motocard.png" alt="Motocard" align-items="center" width="180px" height="80px"></a>
          </p>
            <p>
            <a class="img-back w-100 text-reset" href="https://www.motorraiz.com/" target="_blank" alt="img-back"><img  src="/images/links/motorraiz.jpeg" alt="Motorraiz" align-items="center" width="100px" height="80px"></a>
          </p>
            <p>
            <a class="img-back w-100 text-reset" href="https://www.motogp.com/" target="_blank" alt="img-back"><img  src="/images/links/motogp.png" alt="MotoGP" align-items="center" width="90px" height="80px"></a>
          </p>
        </div>

        <!-- Grid column -->
        <div class="container text-center md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="d-flexflex-column text-center align-items-start text-uppercase fw-bold mb-4">
            <i class="col text-uppercase fw-bold mb-4 fas fa-gem me-3"></i>Sponsors
          </h6>
           <p>
            <a class="img-back w-100 text-reset" href="https://jltorres29.github.io/proyecto-juego/" target="_blank" alt="img-back"><img  src="/images/links/jorjo.png" alt="Jorjo" align-items="center" width="80px" height="80px"></a>
          </p>
          <p>
            <a class="img-back w-100 text-reset" href="https://www.redbull.com/es-es/" target="_blank" alt="img-back"><img  src="/images/links/redbull.png" alt="Red Bull" align-items="center" width="80px" height="80px"></a>
          </p>
          <p>
            <a class="img-back w-100 text-reset" href="https://www.lapandabrand.com/" target="_blank" alt="img-back"><img  src="/images/links/lapandabrand.png" alt="La Panda Brand" align-items="center" width="80px" height="80px"></a>
          </p>
          <p>
            <a class="img-back w-100 text-reset" href="https://www.kalise.com/" target="_blank" alt="img-back"><img  src="/images/links/kalise.png" alt="Kalise para todos" align-items="center" width="80px" height="40px"></a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="d-flex flex-column justify-content-center text-center text-uppercase fw-bold mb-4">
            <i class="d-flex flex-column justify-content-center text-center text-uppercase fw-bold mb-4 fas fa-gem me-3"></i>Contact</h6>
          <p><i class="fas fa-home me-3"></i> Paseo de la Chopera 14, Madrid</p>
          <p><i class="fas fa-home me-3"></i> 28045, Madrid, SPAIN</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ironrider333@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +34 671 091 691</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://www.ironhack.com/" target="_blank">Ironhack.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
