<div class="profile-page">
  <div class="container profile-container">
    <h1>{{currentUser.username}}</h1>

    <img class="profile-image" src={{currentUser.picture}} alt="Profile Image">

    <div class="text-center">
      <i class="fas fa-user-circle"></i>
    </div>
    <h6>Email: {{currentUser.email}}</h6>
  </div>
</div>
